/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  margin-bottom: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#container {
  width: 800px;
  margin: 0 auto 0 auto;
}

#title {
  display: flex;
  margin: 8px 0 8px 0;
}

#title .title {
  font-size: 30px;
  font-weight: bold;
}

#title .account {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  text-align: right;
}

#panels {
  border: 1px solid #999999;
  display: flex;
  height: 534px;
}


/***** Left panel *****/

#leftpanel {
  border: 1px solid #cccccc;
}

#headers {
  height: 130px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#headers label {
  display: inline-block;
  width: 80px;
  text-align: right;
}

#headers input {
  width: 400px;
  height: 26px;
  margin: 4px 0 0 4px;
}

#firepad {
  height: 400px;
}

#firepad.firepad {
  /*height: 100%;*/
}

#firepad .CodeMirror {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;

}

a.powered-by-firepad {
  display: none;
}


/***** Right panel *****/

#rightpanel {
  width: 240px;
  display: flex;
  flex-direction: column;
  background: #eee;
}

#rightpanel h2 {
  margin: 0 0 0 0;
  padding-left: 6px;
  font-size: 14px;
  font-weight: bold;
}

#collaborators-wrapper {
  flex: 0 0 60px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#collaborators {
  margin: 0 10px 0 0;
  padding: 0 0 0 4px;
  list-style: none;
}

#invited {
  margin: 0 10px 0 0;
  padding: 0 0 0 4px;
  list-style: none;
  color: #888;
}

#invitation {
  flex: 0 0 30px;
  display: flex;
}

#chat-container {
  width: 100%;
  flex-grow: 1;

  margin-top: 4px;
  /*border-top: 1px dashed #222222;*/
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;
}

ul#messages {
  width: 100%;
  margin: 0;
  padding: 0 0 0 0;
  list-style: none;
}

ul#messages li {
  width: 100%;
  margin: 6px 0 0 0;
  padding: 0 4px 0 4px;
  background: #f8f8f8;
}

ul#messages .chat-author {
  display: inline-block;
  margin-right: 4px;
  font-size: 10px;
  color: #999;
}

ul#messages .chat-timestamp {
  display: inline-block;
  font-size: 10px;
  color: #bbb;
}

ul#messages .chat-message {
  font-size: 12px;
  color: #222;
  white-space: pre;
}

#chat-input {
  flex: 0 0 60px;
  margin-top: 1px;
  border: 1px solid green;
  font-size: 14px;
}

#chat-send {
  flex: 0 0 26px;
}


/***** Footer *****/

#footer {
  margin-top: 20px;
  font-size: 14px;
}

#footer button#send {
  margin-left: 20px;
}

#footer .buttons {
  margin-bottom: 18px;
}

#footer p {
  margin-top: 8px;
  margin-bottom: 4px;
  color: #222;
}

#footer p.draftlist {
  margin-top: 24px;
}

#otherpads {
  list-style: none;
  margin: 0;
  padding: 0;
}

#otherpads li {
  display: inline-block;
}

#otherpads li + li:before {
  margin: 0 6px 0 6px;
  content: "|";
}

/*ul#otherpads li:first-child:before {*/
  /*content: none;*/
/*}*/




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
